<!-- GC Design System -->
{{ $cssShortcutsVersion := "1.0.1" }}
{{ $version := "0.42.0" }}
<link
  rel="stylesheet"
  href="https://cdn.design-system.alpha.canada.ca/@gcds-core/css-shortcuts@{{ $cssShortcutsVersion }}/dist/gcds-css-shortcuts.min.css" />
<link
  rel="stylesheet"
  href="https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-components@{{ $version }}/dist/gcds/gcds.css" />
<script
  async
  type="module"
  src="https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-components@{{ $version }}/dist/gcds/gcds.esm.js"></script>
