<!-- GC Design System -->
{{ $utilityVersion := "1.9.3" }}
{{ $version := "0.41.0" }}
<link
  rel="stylesheet"
  href="https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-utility@{{ $utilityVersion }}/dist/gcds-utility.min.css" />
<link
  rel="stylesheet"
  href="https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-components@{{ $version }}/dist/gcds/gcds.css" />
<script
  async
  type="module"
  src="https://cdn.design-system.alpha.canada.ca/@cdssnc/gcds-components@{{ $version }}/dist/gcds/gcds.esm.js"></script>
