<!-- For more information, visit: https://design-system.alpha.canada.ca/en/components/heading/ -->
<gcds-heading tag="h{{ .Level }}" id="{{ .Anchor }}" character-limit="{{ not (.Page.Params.disableCharacterLimit | default .Page.Site.Params.disableCharacterLimit) }}">
  {{- .Text -}}
  {{- if not (.Page.Params.disablePilcrow | default .Page.Site.Params.disablePilcrow) -}}
    <gcds-link href="#{{ .Anchor }}" class="pilcrow">¶</gcds-link>
  {{- else -}}
    <gcds-link href="#{{ .Anchor }}"></gcds-link>
  {{- end -}}
</gcds-heading>
