{{ define "main" }}
  {{ $showSidebar := .Site.Params.sidebar }}
  {{ if isset .Params "sidebar" }}
    {{ $showSidebar = .Params.sidebar }}
  {{ end }}

  {{ partial "verify" . }}
  {{ partial "header" . }}
  <gcds-container size="xl" main-container centered tag="main">
    <gcds-grid
      tag="section"
      columns="1fr"
      columns-desktop="{{ if $showSidebar }}
        1fr 3fr
      {{ else }}
        1fr
      {{ end }}"
      align-items="start"
      class="hydrated">
      {{ if $showSidebar }}
        <aside role="complementary">
          {{ partial "side-navigation" . }}
        </aside>
      {{ end }}
      <section class="mb-400">
        {{ partial "heading" . }}
        {{ $content := .Content | replaceRE "<p>(.*?)</p>" "<gcds-text character-limit=\"false\">$1</gcds-text>" }}
        {{ $content | safeHTML }}
        <gcds-heading tag="h2">Browse Components</gcds-heading>
        <div class="my-500">
          <gcds-grid tag="ul" columns="1fr" columns-tablet="1fr 1fr" columns-desktop="1fr 1fr 1fr" gap="400" class="hydrated">
              {{- $pages := where .Site.Pages "Section" "components" -}}
              {{- $filteredPages := where $pages "IsNode" false -}}
              {{- range first 4 (shuffle $filteredPages) -}}
              <gcds-card card-title="{{ .Title }}" href="{{ .Permalink }}" card-title-tag="h3" badge="Core" img-src="{{ with .Params.image }}{{ . }}{{ end }}" img-alt="" role="listitem" class="hydrated">
                {{ with .Params.description }}
                <gcds-text class="hydrated">{{ . }}</gcds-text>
                {{ end }}
                <gcds-text text-role="secondary" size="caption" margin-bottom="0" class="hydrated">
                  <em>Other names: breadcrumb trail.</em>
                </gcds-text>
              </gcds-card>
              {{ end }}
            </gcds-grid>
        </div>
        {{ partial "date-modified" . }}
      </section>
    </gcds-grid>
  </gcds-container>
{{ end }}
