# Sample workflow for building and deploying a Hugo site to GitHub Pages
name: Content Check

on:
  # # Runs on pushes targeting the default branch
  # push:
  #   branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "content-check"
  cancel-in-progress: false

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  # Build job
  setup-env:
    name: Setup environment
    runs-on: ubuntu-latest
    env:
      GO_VERSION: 1.25.5
      NODE_VERSION: 24.12.0
      TZ: America/Toronto

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Verify installations
        run: |
          echo "Go: $(go version)"
          echo "Node.js: $(node --version)"
          
      - name: Install Node.js dependencies
        run: |
          [[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true
      
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: code
          path: .

  translations:
    name: Translations
    runs-on: ubuntu-latest
    needs: setup-env
    steps:
      - uses: actions/download-artifact@v7
        name: Download Artifact
        with:
          name: code
          
      - name: Run Check
        run: |
          npm run check:translations

  needs-review:
    name: Needs Review
    runs-on: ubuntu-latest
    needs: setup-env
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: code

      - name: Run Check
        run: |
          npm run check:needsreview